<!-- Include Header-->
<%- include('include/_header') %> 
<!-- Include Header-->

<!-- main -->

<div class="main_app">
    <h1>Bienvenue à nos services</h1>
    <p>
        Si vous voulez un bon entretien de votre voiture, nous sommes là pour vous servir,
    </p>
    <p>
        un accueil chaleureux vous attend sur nos différents, avec un prix très abordable,
    </p>
    <p>
        et des sites très sécurisés
    </p>
    <div class="content">
        <div class="services_panel">
            <ul class="express_wash">
                <li style="font-size: 20px; color: #16db93;">Lavage Express</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Lavage Exterieur</li>
                <li><span style="color: red;">&#10006;</span> Passer l'aspirateur</li>
                <li><span style="color: red;">&#10006;</span> Nettoyage humide intérieur</li>
                <li><span style="color: red;">&#10006;</span> Essuie-glace</li>
            </ul>
            <ul class="basic_clean">
                <li style="font-size: 20px; color: #16db93;">Nettoyage de base</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Lavage Exterieur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Passer l'aspirateur</li>
                <li><span style="color: red;">&#10006;</span> Nettoyage humide intérieur</li>
                <li><span style="color: red;">&#10006;</span> Essuie-glace</li>
            </ul>
            <ul class="prem_clean">
                <li style="font-size: 20px; color: #16db93;">Nettoyage haut de gamme</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Lavage Exterieur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Passer l'aspirateur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Nettoyage humide intérieur</li>
                <li><span style="color: red;">&#10006;</span> Essuie-glace</li>
            </ul>
            <ul class="full">
                <li style="font-size: 20px; color: #16db93;">Lavage total</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Lavage Exterieur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Passer l'aspirateur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Nettoyage humide intérieur</li>
                <li><span style="color: rgb(9, 172, 172);">&#10004;</span> Essuie-glace</li>
            </ul>
        </div>
        <div class="localisation_panel">
            <ul class="loc">
                <li style="font-size: 25px; color: #16db93;">Retrouvez l'un de nos sites &#128071;:</li>
                <li><span style="font-size: 8px;"><img src="img/localisation.png" alt="logo"></span>  #40 Delmas 33, Delmas Haiti WI</li>
                <li><span><img src="img/localisation.png" alt="logo"></span>  #34 Rue Mr Guilloux, Port-au-prince, Haiti WI</li>
                <li><span><img src="img/localisation.png" alt="logo"></span>  #10 Diquini 63, Carrefour, Haiti WI</li>
            </ul>
        </div>
    </div>
    <div class="btn_home">
        <a href="/login"><button type="submit" class="btn1">Connecter</button></a>
        <a href="/register"><button type="submit" class="btn2">Enregistrer</button></a>
    </div>
</div>


<!-- /main -->

<!-- Include Footer-->
<%- include('include/_footer') %>
<!-- Include Footer-->