<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Wash App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <!-- Header-->
    <hearder id="hearder">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-band text-dark">Application de lavage et d'entretien de voiture</a>
                </div>
            </div>
        </nav>
    </hearder>
    <!-- Header-->

    <!-- Main-->
    <main id="site-main">
        <!-- form-->
        <form method="POST" id="sign-in">
            <div class="user-sign-in">
                <div class="form-group">
                    <label for="fullname" class="text-light">Nom complet:</label>
                    <input type="text" name="fullname" value="" placeholder="Nom complet">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Adresse d'email:</label>
                    <input type="email" name="email" value="" placeholder="Adresse email">
                </div>
                <div class="form-group">
                    <label for="username" class="text-light">Nom d'utilisateur:</label>
                    <input type="text" name="username" value="" placeholder="Nom d'utilisateur">
                </div>
                <div class="form-group">
                    <label for="password" class="text-light">Mot de pass:</label>
                    <input type="password" name="password" value="" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Sign Up</button>
                </div>
            </div>
        </form>
    </main>
    <!-- Main-->
</body>

</html>